@charset "utf-8";

/* 
    Base Style
*/

body {
    font-family: "Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif";
    color: #333;
}


/* 
    MainContent Style
*/

.main {
    display: flex;
}

.main>img {
    width: 100%;
    height: 700px;
}

.contents {
    /* margin-right: 5px; */
    padding: 5%;
}