@charset "utf-8";

/* 
    Base Style
*/

body {
    font-family: "Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif";
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul {
    list-style: none;
}


/* 
    MainContent Style
*/

.main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.main>img {
    width: 100%;
    height: 700px;
}

.contents {
    padding: 15px 5%;
}

.main-title {
    font-size: 28px;
}

.sub-title {
    padding-bottom: 5px;
    border-bottom: 0.5px solid gray;
}

.material-list {
    margin-bottom: 40px;
}

.material-item {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted gray;
    padding: 3px;
}

.material-list dt {}

.material-list dd {}

.process-list {
    padding-left: 20px;
}

.process {
    padding: 3px;
    border-bottom: 0.5px dotted gray;
}


/* 
    Button Style
*/

.button-area {
    text-align: center;
    margin: 100px;
}

.button {
    padding: 24px;
    border: 2px solid #333;
}


/* 
    Footer Style
*/

.footer {
    text-align: center;
}

.sns-list {
    display: flex;
    justify-content: center;
}

.sns-list .sns-item {
    margin-left: 15px;
}

.sns-list .sns-item a {
    font-size: 14px;
    text-decoration: underline;
}