@charset "utf-8";

/* 
    Base Style
*/

body {
    font-family: "Helvetica Neue, Arial, Hiragino Sans, Meiryo, sans-serif";
    color: #333;
}


/* 
    MainContent Style
*/

.main {
    display: flex;
    justify-content: space-between;
}

.main>img {
    width: 100%;
    height: 700px;
}

.contents {
    padding: 15px 5%;
}

.main-title {
    font-size: 28px;
}

.sub-title {
    padding-bottom: 5px;
    border-bottom: 0.5px solid gray;
}

.material-list {
    margin-bottom: 40px;
}

.material-item {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted gray;
    padding: 3px;
}

.material-list dt {}

.material-list dd {}

.process-list {
    padding-left: 20px;
}

.process {
    padding: 3px;
    border-bottom: 0.5px dotted gray;
}